@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");

:root {
  --gap: 1rem;
  --font-family: "Open Sans", sans-serif;
  --bg-color: #5b9cd6;
  --font-color: #ffffff;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}

.header {
  margin-bottom: 30px;
  padding: 50px 0px 50px 0px;
  background-color: var(--bg-color);
}

.header__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  place-self: center;
}

@media (max-width: 575px) {
  .header__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.header__title {
  align-self: center;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 36px;
  color: var(--font-color);
  text-transform: capitalize;
}

.header__contact-list {
  place-self: center;
}

.contact-item__text {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  color: var(--font-color);
  text-transform: capitalize;
}

.contact-item__link {
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--font-color);
}

.about {
  margin-bottom: 30px;
}

.title {
  transition: hover 0.3 ease-in-out;
}

.title:hover {
  background-color: var(--bg-color);
}

.about__title {
  margin-bottom: 30px;
  padding: 30px 0px 30px 10px;
  border-bottom: 1px solid var(--bg-color);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 36px;
  text-transform: capitalize;
  cursor: pointer;
}

.about__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  transform: translateX(-150%);
}

.skills {
  margin-bottom: 30px;
}

.skills__title {
  margin-bottom: 30px;
  padding: 30px 0px 30px 10px;
  padding-left: 10px;
  border-bottom: 1px solid var(--bg-color);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 36px;
  text-transform: capitalize;
  cursor: pointer;
}

.skills__list--wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-bottom: 30px;
  padding: 0px 10px 0px 30px;
  transform: translateX(-150%);
}

.skills__list-item {
  margin-bottom: 10px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  list-style: disc;
}

.footer {
  background-color: var(--bg-color);
}

.footer__container {
  display: flex;
  justify-content: center;
}

.footer__text {
  padding: 30px 0 30px 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--font-color);
}

.hidden {
  transform: translateX(0);
  transition: all 0.8s ease;
}
